/************* Babylon dictionaries' classes *************/
/* Transcriptions in Babylon dictionaries */
.bgltrn:before
{
  content:"[";
}

.bgltrn:after
{
  content:"]";
}

.bgltrn { color: #808080; font-size: 12px; display: inline; }

/* Part of speech in Babylon dictionaries. Usually irrelevant,
 * therefore hidden */
.bglpos { color: black; font-weight: bold; font-size: 11px; background: #F0EDED; display: inline; }

/* Right-to-left text */
.bglrtl
{
  text-align: right;
  direction: rtl;
}
