/************* Global, non-dictionary-specific classes *************/
body {
  background: #000000;
  color: #d3d3d3;
  font-family: Arial, Helvetica, Tahoma, Verdana, "Lucida Sans Unicode", "Segoe UI", "Palatino Linotype", "Arial Unicode MS", sans-serif;
  font-size: 0.8rem;
}

a:link {
  color: orange;
}

a:hover {
  color: red;
}

ul {
  color: #d3d3d3;
}

/* Highlight current selection */
::selection {
  background: red;
  color: gainsboro;
}

code::selection {
  background: gainsboro;
}

/* Don't allow to select [] */
:before, :after {
  -webkit-user-select: none;
  user-select: none;
}

/* Dictionary name heading */
.gddictname {
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #202020;
  float: right;
  margin-top: 0;
}

/* Text in dictionary title */
.gddicttitle
{
  display: inline-block;
  color: deepskyblue;
}

/* Separates dictionary title from article */
.gddictnamebodyseparator
{
  display: inline-block;
  width: 100%;
  border-top: 1px solid #444444;
  padding-bottom: 0.1rem;
}

/* 'From' string before dictionary name */
.gdfromprefix {
  color: #444444;
}

/* Dictionary icon */
.gddicticon
{
  display: inline;
  float: right;
  vertical-align: text-bottom;
  padding-right: 0em;
  padding-left: 0.3em;
}

.gddicticon img
{
  border: 0px;
  height: 16px;
  vertical-align: text-top;
}

/* The article span. Here we have padding/margin for fragment links */
.gdarticle {
  background: #000000;
  color: #d3d3d3;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 5px;
  border: 1px solid #303030;
}

.gdactivearticle {
  border: 1px solid #3399ff;
}
 
/* Appears between the articles */
.gdarticleseparator {
  display: inline-block;
  width: 100%;
  border: 1px solid #5376ac;
}

/* Move the collapse/expand buttons to the right, 3rd position */
.collapse_expand_area
{
  display: inline-block;
  right: 0px;
}

/* Nice diagonal pattern for the collapsed article */
.gdcollapsedarticle
{
	background-color: #303030;
	background-size: 50px 50px;
}

.gdexpandicon, .gdexpandicon:hover, .gdcollapseicon, .gdcollapseicon:hover
{
    cursor: pointer;
    width: 16px;
    background-position: center;
    background-repeat:no-repeat;
    vertical-align: text-bottom;
    padding-left: -5px;
    margin-left: 0px;
}

.gdexpandicon {
    background-image: url('qrcx://localhost/icons/expand_article.png');
}

.gdexpandicon:hover {
    background-image: url('qrcx://localhost/icons/expand_article_hovered.png');
}

.gdcollapseicon {
    background-image: url('qrcx://localhost/icons/collapse_article.png');
}

.gdcollapseicon:hover {
    background-image: url('qrcx://localhost/icons/collapse_article_hovered.png');
}

/* The first headword in a (possibly) multi-headword DSL article */
.gdarticlebody > div:first-child .dsl_headwords,
.gdarticlebody > h3:first-child
{
  margin-top: -3px;
  display: inline-block;
}

/* Dictionary query error description string */
.gderrordesc
{
  font-style: italic;
  background: url("qrcx://localhost/icons/warning.png") center left no-repeat !important;
  padding-left: 22px !important;
  margin: 1em;
}
