/************* DSL dictionaries **************/

.dsl_i font {
  color: deepskyblue;
}

.dsl_u
{
  text-decoration: underline;
}

.dsl_article
{
  display:inline;
}

.dsl_article font[color=c_default_color]
{
  color: green;
}

.dsl_m, .dsl_m0
{
  padding-left: 0px;
}

.dsl_m1
{
  padding-left: 9px;
}

.dsl_m2
{
  padding-left: 18px;
}

.dsl_m3
{
  padding-left: 27px;
}

.dsl_m4
{
  padding-left: 36px;
}

.dsl_m5
{
  padding-left: 45px;
}

.dsl_m6
{
  padding-left: 54px;
}

.dsl_m7
{
  padding-left: 63px;
}

.dsl_m8
{
  padding-left: 72px;
}

.dsl_m9
{
  padding-left: 81px;
}

.dsl_p, .dsl_p :not(a) /* DSL Feature: Enforce the style even if the children tags say otherwise, except links */
{
  color: green !important; /* DSL label color must have highest priority */
  font-style: italic;
  cursor: default;
  font-weight: normal; /* DSL feature: labels are always of normal weight */
}

.dsl_stress_without_accent {
  display: none;
}

.dsl_t
{
  font-weight: bold;
}

.dsl_headwords
{
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

.dsl_headwords p
{
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}

.dsl_definition p
{
  margin: 0;
}

.dsl_opt
{
  display: none;
}

.dsl_opt,
.dsl_opt .dsl_ex,
.dsl_opt .dsl_ex :not(a),
.dsl_opt .dsl_ex font[color] /* DSL Feature: Enforce the optional zone color even if the children tags say otherwise */
{
  color: gray;
}

.dsl_ex, .dsl_ex .dsl_opt
{
  color: gray;
}

/* Style for expand optional parts button */
.hidden_expand_opt
{
  color: blue;
  cursor: pointer;
  vertical-align: text-bottom;
}

.dsl_s_wav img
{
  /* Ugly hack since "vertical-align: middle;" looks _terrible_ in Qt4's webkit: */
  vertical-align: -30%;
}

.dsl_video .img
{
  display: inline-block;
  background: url('qrcx://localhost/icons/video.png');
  background-repeat: no-repeat;
  /* Ugly hack since "vertical-align: middle;" looks _terrible_ in Qt4's webkit: */
  vertical-align: -30%;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
}

.dsl_video .filename
{
  display: none; /* by default, the file name is hidden */
  padding-left: 5px;
}
