/************* Dictd articles *****************/
.dictd_article
{
  /* Add some vertical space before the article */
  margin-top: 1em;
}

.dictd_phonetic:before, .dictd_phonetic:after
{
  content: "\\";
  font-style: normal;
}

.dictd_phonetic:after
{
  margin-left: 3px;
}

.dictd_phonetic
{
  font-style: italic;
  color: #009900;
}

.dictd_article a:link
{
  color: #0000FF;
}

.dictserver_from
{
  font-size: 110%;
  font-weight: 600;
}

/************* Epwing dictionaries *****************/

.epwing_narrow_font
{
  width: 7px;
  height: 13px;
  vertical-align: -15%;
}

.epwing_wide_font
{
  width: 13px;
  height: 13px;
  vertical-align: -15%;
}

.epwing_article
{
  display:inline;
}

/********** Slob dictionaries ***********/

.slobdict img.imgtex
{
    vertical-align: baseline !important;
}

/************* GLS dictionaries **************/

.glsdict_headwords
{
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 116%;
}

.gls_wav img
{
  /* Ugly hack since "vertical-align: middle;" looks _terrible_ in Qt4's webkit: */
  vertical-align: -30%;
}

/************* Zim dictionaries *************/

.zimdict
{
  font-size: 110%!important;
}

.zimdict_headword
{
  font-weight: bold!important;
}

/************* MDict dictionaries *************/
.mdict
{
  margin-top: 1em;
}

.mdict a[name]
{
  text-decoration: none;
  color: inherit;
}

/************* OALD9 Dictionary *************/
.mdict,
.mdict ol,
.head-jump-pos,
.head-jump-entry,
.h-g,
.sn-gs,
.sn-g,
.x-gs,
.xg,
.rx-g,
.x,
.num,
.def,
.label-g,
.collapse {
  color: #a3a3a3;
}

.mdict i {
  color: #a3a3a3 !important;
}

.head-jump-pos a {
  display: inline-block;
  background-color: green;
  color: gainsboro;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  text-decoration: none;
  font-size: 90%;
  border-radius: 2px;
}

.mdict .if-gs {
  color: #e7003e;
}

.mdict .gram-g {
  color: #ff7400;
}

.mdict .top-container {
  line-height: 1.2em;
}

.mdict .collapse,
.mdict .webtop-g {
  background-color: #03a9f4;
  border-left: 3px solid #03a9f4;
}

.mdict .collapse .body .h1,
.mdict .collapse .body .deflist .li .eb {
  color: #d32f2f;
}

.mdict .collapse .body .inline .li {
  color: #512da8;
}

/* Fix numbered list */
.mdict ol {
  list-style-type: none;
}

.mdict ol li {
  counter-increment: step-counter;
}

.mdict ol li::before {
  content: counter(step-counter);
  color: #e7003e;
  font-weight: bold;
}

/* Fix phonetics */

.mdict .phon {
  color: #e7003e;
  font-weight: bold;
}
