/******** StarDict dictionaries' classes *********/

.sdct_h .normal {
	font-family: Arial;
	font-size: 10pt;
	color:#000000;
	font-weight: normal;
	text-decoration:none;
}

.sdct_h .irregular {
	font-family: Arial;
	font-size: 10pt;
	color:#FF0000;
	font-weight: bold;
	text-decoration:none;
}

.sdct_h .orto {
	font-family: Arial;
	font-size: 10pt;
	color:#0000FF;
	font-weight: normal;
	text-decoration:none;
}

.sdct_h .archaic {
	font-family: Arial;
	font-size: 10pt;
	color:#800080;
	font-weight: normal;
	text-decoration:none;
}

.sdct_h .notused {
	font-family: Arial;
	font-size: 10pt;
	color:#808080;
	font-weight: normal;
	text-decoration:none;
}

.sdct_h .pronoun {
	font-family: Arial;
	font-size: 10pt;
	color:#008000;
	font-weight: normal;
	text-decoration:none;
}


.sdct_h > table {
	border: 1px solid #444444;
	border-collapse: collapse;
}

.sdct_h td.verbtable {
	border: 1px solid #444444;
}

.sdct_h th {
	background-color: #A6C9EF;
	font-weight: bold;
}

.sdct_h .mini {
	font-size: 8pt; font-weight: normal; color: #808080;
}

.sdct_h div.spacerline {
	clear: both;
	margin-left: 8px;
	width:100%;
	border-top: 1px solid #ccc;
}

.sdct_h div.spacer {
	clear: both;
}

.sdct_h div.float {
	margin-left: 8px;
	float: left;
}

.sdct_h div.float400 {
	margin-left: 8px;
	float: left;
	width: 400px;
}

.sdct_h div.float250color {
	margin-left: 8px;
	float: left;
	width: 250px;
	border-style: dashed;
	border-color:#0033CC;
	border-collapse:collapse;
	border-width:1px;
	background-color:#eeeeee;
	padding: 8px 8px 8px 8px;
}

/* Blockquotes in XDXF-styled elements are used for indentation purposes, see Issue #305. */
.sdct_x blockquote {
  margin: 0px;
  padding-left: 9px;
  display: inline-block;
}

/************* SDictionary markup classes *************/

.sdict_forms
{
  font-style: italic;
}

/* Transcription */
.sdict_tr:before
{
  content:"[";
}

.sdict_tr:after
{
  content:"] ";
}

.sdict_tr
{
  font-weight: bold;
}
